<div fxLayout="column" fxLayoutAlign="center center" class="content">
    <div class="row icon-box">
        <mat-icon class="icon" i18n-alt="Magnifying|alt description for search placeholder image@@search-placeholder-image" alt="a round magnifying glass icon">search</mat-icon>
    </div>
    <div class="row">
        <label i18n="placeholder title@@search-placeholder-title" class="mat-display-2 title">Find by keyword</label>
    </div>
    <div class="row">
        <label i18n="placeholder subtitle@@search-placeholder-subtitle" class="mat-title  subtitle">Search by name or author, over millions of books</label>
    </div>
</div>