@import '~@angular/material/theming';
@import 'src/custom-theme.scss';

@import '../../../assets/sass/spacing.scss';

.paginator{
    margin-bottom: $lg;
}
.container{
    @media (max-width: 540px) {        
        app-book{
            margin-right: 0;
            margin-bottom:1px;
        }
    }
}