@import '~@angular/material/theming';
@import 'src/custom-theme.scss';

@import '../../../assets/sass/spacing.scss';

.mat-paginator{
    background: #eee;
.paginator{
    margin-bottom: $lg;
}
}
.container{
    @media (max-width: 540px) {        
        app-book{
            margin-right: 0;
            margin-bottom:$xs;
        }
    }
}