<div class="paginator m-b-lg">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent($event)">
    </mat-paginator>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <!-- <app-book *ngFor="let book of books | async" fxFlex="400px" fxFlex.xs="100%"></app-book> -->
    <!-- <app-book fxFlex="450px" fxFlex.xs="100%" class="m-r-sm m-b-sm"></app-book>
    <app-book fxFlex="450px" fxFlex.xs="100%" class="m-r-sm m-b-sm"></app-book>
    <app-book fxFlex="450px" fxFlex.xs="100%" class="m-r-sm m-b-sm"></app-book>
    <app-book fxFlex="450px" fxFlex.xs="100%" class="m-r-sm m-b-sm"></app-book> -->
</div>