@import '../../../assets/sass/utils.scss';
@import '../../../assets/sass/spacing.scss';


mat-card {

  .image-box {
    height: 150px;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
      opacity: 0.8;
    }
  }

  mat-card-coontent {
    height: 300px;
  }

  mat-card-actions {
    text-align: right;

    mat-icon {
      margin-top: $xs;
    }
  }

  mat-icon {
    vertical-align: text-bottom;
  }
}
