<mat-card class="book-card">
    <mat-card-content>
        <mat-card-title id="title" class="title" [title]="data.volumeInfo.title">
            {{data.volumeInfo.title}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="data.volumeInfo.authors" i18n-title="Author|label for author@@card-author" [title]="data.volumeInfo.authors"
            class="author">
            <mat-icon class="icon" aria-label="author">person</mat-icon>
            <span *ngFor="let author of data.volumeInfo.authors; let i = index">
                {{(i > 0) ? '- ' : ''}}{{author}}
            </span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="data.volumeInfo.publisher" i18n-title="Editor|label for editor button@@card-editor"
            [title]="data.volumeInfo.publisher" class="editor">
            <mat-icon class="icon" aria-label="editor">home</mat-icon>
            <span>{{data.volumeInfo.publisher}}</span>
        </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="authenticated-actions" *ngIf="tokenService.authClaim | async">
        <!-- <button mat-icon-button>
            <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
        </button> -->
        <mat-menu #bookMenu="matMenu" xPosition="before">
            <button aria-label="action" *ngFor="let a of volumeActions" mat-menu-item i18n="@@{{a.translateId}}"
                (click)="a.callback(data)">
                <mat-icon class="icon">{{a.icon}}</mat-icon>{{a.name}}
            </button>
            <!-- <button mat-menu-item i18n="To Read@@to-read-page-title">
                <mat-icon class="icon" aria-labelledby="">list</mat-icon> To Read
            </button>
            <button mat-menu-item i18n="Reading@@reading-page-title">
                <mat-icon class="icon" aria-labelledby="">list</mat-icon> Reading Now
            </button>
            <button mat-menu-item i18n="Have read@@have-read-page-title">
                <mat-icon class="icon" aria-labelledby="">list</mat-icon> Have Read
            </button> -->
        </mat-menu>
        <button aria-label="volume options" mat-icon-button [matMenuTriggerFor]="bookMenu">
            <mat-icon class="md-24" aria-label="icon button that open options menu">more_vert</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<!-- <mat-card fxLayout="row">
    <div fxFlex="0 0 30%" class="image-box" fxHide.xs>
        <div class="image-frame" [@popout]>
            <img *ngIf="book.thumbnail" class="placeholder" [src]="book.thumbnail" />
            <img *ngIf="!book.thumbnail" class="placeholder" src="/assets/img/book_placeholder.png" />
            <img class="cover" aria-labelledby="title" src="" />
        </div>
    </div>
    <div fxFlex="1 1 auto" class="content">
        <div fxLayout="row">
            <div fxFlex="auto" class="info">
                <mat-card-title id="title" class="title" [title]="book.title">

                    {{book.title}}
                </mat-card-title>
                <mat-card-subtitle *ngIf="book.authors" i18n-title="Author|label for author@@card-author" [title]="book.authors" class="author">
                    <mat-icon class="icon" aria-label="author">person</mat-icon>
                    <span *ngFor="let author of book.authors; let i = index">
                        {{(i > 0) ? '- ' : ''}}{{author}}
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="book.publisher" i18n-title="Editor|label for editor button@@card-editor" [title]="book.publisher"
                    class="editor">
                    <mat-icon class="icon" aria-label="editor">home</mat-icon>
                    <span>{{book.publisher}}</span>
                </mat-card-subtitle>
            </div>
            <div fxFlex="45px" class="options button-row">
                <mat-menu #bookMenu="matMenu" xPosition="before">
                    <button mat-menu-item> noop </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="bookMenu">
                    <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card> -->