@import 'src/custom-theme.scss';

md-toolbar{
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 4;
    &:first-child{
        width:100%;
    }
    .toolbar-left{
        button{
            &.selected{
                background: lightgray;
            }
        }
        label{vertical-align: middle;}
    }
    .toolbar-right{
        margin-left:auto;
    }
}
md-sidenav-container{    
    background: lightgrey;
    position: absolute;
    height: calc(100vh - 64px);
    height: -moz-calc(100vh - 64px);
    height: -webkit-calc(100vh - 64px);
    width: 100%;
    margin: 0;
    
    md-sidenav{
        width: 300px;
        overflow: hidden;
        header{
            position: relative;
            width: 100%;
            border-bottom: solid 1px lightgray;
            text-align: center;
            padding: 40px 0;
            button{
                float: right;
            }
            .user-info{
                width: 100%;
                picture{
                    display: block;
                    img{
                        height:60px;
                        width:60px;
                    }
                } 
            }
        }
        .item-container{
            margin: 20px 0;
            a{
                width: 100%;
                text-align: left;
                padding: 10px;
                font-size:20px;
                md-icon{
                    margin: 0 5px;
                }
            }
        }
    }
}


.white-text{
    color:white !important;
}

.placeholder{
    text-align: center;
    padding: 10vh;
    opacity: 0.7;
    max-width: 270px;
    margin: auto;
    .title, .subtitle{
        color:grey;
        display: block;
        font-weight: 300;
        margin-bottom: 10px;
    }
    img{
        height: 30vw;
        max-height: 200px;
        min-height: 150px;
        margin-bottom: 20px;
    }
    .search-area{
        width:100%;
    }
}

.container{
    position: absolute;
    width:100%;
    padding:50px 0;
    md-card{
        position: relative;
        padding: 0 !important;
        height: 150px;
        margin-bottom: 20px;
        img{
            float: left;
            height: 100%;
            max-width: 100px;
            opacity: 0.85;
        }
        .content{
            box-sizing: border-box;
            padding: 15px;
            position: relative;
            float: left;
            height: 100%;
            width: -webkit-calc(100% - 100px);
            width: -moz-calc(100% - 100px);
            width: -o-calc(100% -100px);
            width: calc(100% - 100px);
            .info{
                display: block;
                margin-bottom: 4px;
                .title{
                    @extend .cut-text;
                    font-size: 1.2em;
                }
                .author{
                    @extend .cut-text;                    
                    margin-bottom: 3px;
                    md-icon{
                        font-size: 18px;
                        vertical-align: sub;
                    }
                }
                .editor{
                    @extend .cut-text;                    
                    margin: 0;
                    md-icon{
                        font-size: 18px;
                        vertical-align: sub;
                    }
                }
            }
            .actions{
                display: block;
                text-align: right;
                color: grey;
            }
        }
    }
}

.cut-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}