@import 'src/custom-theme.scss';

md-sidenav-container{    
    background: lightgrey;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    md-toolbar{
        &:first-child{
            width:100%;
        }
        .title{
            margin: 0 10px !important;
            vertical-align: middle;
        }
        .toolbar-right{
            margin-left:auto;
        }
    }
    md-sidenav{
        width: 300px;
        header{
            height: 200px;
            width: 100%;            
            background-color: mat-color($candy-app-primary, darker);        
        }
    }
}