<md-sidenav-container>
  <!-- toolbar -->
  <md-toolbar role="menubar" color="primary">
    <button md-icon-button role="menuitem" aria-label="menu"><md-icon (click)="sidenav.toggle()">menu</md-icon></button>
    <nav md-tab-nav-bar>
      <a md-tab-link *ngFor="let tab of navTabs" [routerLink]="tab.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{tab.name}}
      </a>
    </nav>
  </md-toolbar>
  <!-- sidenav -->
  <md-sidenav role="menu" #sidenav mode="over">
    
  </md-sidenav>
  <!-- outlet -->
  <router-outlet></router-outlet>
</md-sidenav-container>