<mat-toolbar role="toolbar" color="primary">
  <div class="toolbar-left">
    <button mat-icon-button aria-label="menu" (click)="sidenav.toggle()" [ngClass]="{'selected': sidenav.opened}">
      <mat-icon>menu</mat-icon>
    </button>
    <label role="heading" aria-level="1">
      <span i18n="Search|search label for page header@@search-page-title" mat-button routerLink="/search" routerLinkActive="active">Search</span>
      <span i18n="Favorites|favorites label for page header@@favorites-page-title" mat-button routerLink="/bookshelf/0" routerLinkActive="active">Favorites</span>
      <span i18n="To Read|to read label for page header@@to-read-page-title" mat-button routerLink="/bookshelf/2" routerLinkActive="active">To
        read
      </span>
      <span i18n="Reading Now|reading now label for page header@@reading-page-title" mat-button routerLink="/bookshelf/3" routerLinkActive="active">Reading
        now
      </span>
      <span i18n="Have Read|have read label for page header@@have-read-page-title" mat-button routerLink="/bookshelf/4" routerLinkActive="active">Have
        read
      </span>
      <span i18n="Recently Viewed|recently viewed label for page header@@recent-page-title" mat-button routerLink="/bookshelf/6"
        routerLinkActive="active">Recently viewed</span>
      <span i18n="Books For You|books for you label for page header@@suggestions-page-title" mat-button routerLink="/bookshelf/8"
        routerLinkActive="active">Books for you</span>
    </label>
  </div>
  <div class="toolbar-right">
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <!-- sidenav -->
  <mat-sidenav role="menu" #sidenav [mode]="sideNavMode" fxLayout="column">
    <header fxFlex="280px">
      <div class="user-info">
        <picture aria-label="profile pic">
          <div class="pic-frame">
            <img *ngIf="tokenService.authClaim || !user.photoUrl | async else guestplaceholder" [src]="user.photoUrl">
            <ng-template #guestplaceholder>
              <img src="assets/img/avatar.png">
              <!-- <img src="assets/img/account.png"> -->
            </ng-template>
            <!-- <img *ngIf="tokenService.authClaim | async" [src]="user.photoUrl"> -->
            <!-- <mat-icon *ngIf="!tokenService.authClaim | async" class="placeholder">account_circle</mat-icon> -->
          </div>
        </picture>
        <div class="firstname mat-subheading-2">
          <span *ngIf="tokenService.authClaim | async else guestname">{{user.firstName}}</span>
          <ng-template #guestname>
            <span i18n="guest name@@guest">Guest</span>
          </ng-template>
        </div>
        <div *ngIf="tokenService.authClaim | async" class="mat-body-1">{{user.email}}</div>
      </div>
      <div class="action">
        <!-- <button mat-raised-button color="primary" i18n="log in@@sign-in">Sign In</button> -->
        <!-- <button mat-raised-button i18n="log out@@sign-out">Sign Out</button> -->
        <div *ngIf="tokenService.authClaim | async else signout">
          <button mat-button color="accent" i18n="signout button@@signout" (click)="openLogoutModal()">
            <mat-icon>exit_to_app</mat-icon>
            Sign out</button>
        </div>
        <ng-template #signout>
          <app-google-sign-up-button></app-google-sign-up-button>
        </ng-template>
      </div>
    </header>
    <div class="item-container" fxFlex>
      <a class="item" mat-button routerLink="/search" routerLinkActive="active" (click)="onMenuItemClick()">
        <mat-icon class="icon" aria-labelledby="search">search</mat-icon>
        <span id="search" i18n="Search|search label for menu link@@search-page-title">Search</span>
      </a>
      <!-- Authenticated user bookshelves-->
      <div class="user-items" *ngIf="tokenService.authClaim | async">
        <a *ngFor="let bookshelf of bookshelves.list" routerLink="/bookshelf/{{bookshelf.id}}" routerLinkActive="active" class="item"
          (click)="onMenuItemClick()" mat-button>
          <mat-icon class="icon" aria-labelledby="">{{getBookshelfIcon(bookshelf.id)}}</mat-icon>
          <span [id]="'bookshelf-' + bookshelf.id">{{bookshelf.title}}</span>
        </a>
      </div>
      <a class="item authenticated-item">

      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="onScroll($event)">
    <div fxLayout="row">
      <div fxFlex="3%" fxFlex.sm="8px" fxHide.xs></div>
      <div fxFlex fxFlex.sm class="content">
        <router-outlet></router-outlet>
      </div>
      <div fxFlex="3%" fxFlex.sm="8px" fxHide.xs></div>
    </div>
  </mat-sidenav-content>
  <!-- outlet -->
</mat-sidenav-container>