<mat-toolbar role="toolbar" color="primary">
    <div class="toolbar-left">
      <button mat-icon-button aria-label="menu" (click)="sidenav.toggle()" [ngClass]="{'selected': sidenav.opened}"><mat-icon>menu</mat-icon></button>
      <label role="heading" aria-level="1">
        <span i18n="Search|search label for page header@@search-page-title" mat-button routerLink="/search" routerLinkActive="active">Search</span>
        <span  i18n="Loans|loans label for page header@@loans-page-title" mat-button routerLink="/search" routerLinkActive="active">Loans</span>
      </label>
    </div>
    <div class="toolbar-right">       
    </div>
  </mat-toolbar>
<mat-sidenav-container>
  <!-- sidenav -->
  <mat-sidenav role="menu" #sidenav [mode]="sideNavMode">
    <header>
      <div class="user-info">
      <picture aria-label="profile pic">
        <img src="../assets/img/avatar.png"/>
      </picture>
      <div class="mat-body-1"><strong>firstname lastname</strong></div>
      <div class="mat-body-1">firstnamelastname@mail.com</div>
      </div>
    </header>
    <div class="item-container">
    <a mat-button routerLink="/search" routerLinkActive="active">
      <mat-icon aria-labelledby="search">search</mat-icon>
      <span id="search" i18n="Search|search label for menu link@@search-page-title">Search</span>
    </a>
    <a mat-button routerLink="/loans" routerLinkActive="active">
      <mat-icon aria-labelledby="loans">shopping_basket</mat-icon>
      <span id="loans" i18n="Loans|loans label for menu link@@loans-page-title">Loans</span>
    </a>
    </div>
  </mat-sidenav>
  <!-- outlet -->
  <div fxFlexLayout="row">
  <div fxFlex="10" fxFlex.sm="2"></div>
  <div fxFlex="80" fxFlex.sm="96" class="content">
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="10" fxFlex.sm="2"></div>
  </div>
</mat-sidenav-container>