@import 'src/app/app.utils.scss';

md-card{
    position: relative;
    padding: 0 !important;
    height: 150px;
    margin-bottom: 20px;
    img{
        float: left;
        height: 100%;
        max-width: 100px;
        opacity: 0.85;
    }
    .content{
        box-sizing: border-box;
        padding: 15px;
        position: relative;
        float: left;
        height: 100%;
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: -o-calc(100% -100px);
        width: calc(100% - 100px);
        @extend .cut-text;
        .info{
            display: block;
            margin-bottom: 4px;
            .title{
                @extend .cut-text;
                font-size: 1.2em;
            }
            .author{
                @extend .cut-text;                    
                margin-bottom: 3px;
                md-icon{
                    font-size: 18px;
                    vertical-align: sub;
                }
            }
            .editor{
                @extend .cut-text;                    
                margin: 0;
                md-icon{
                    font-size: 18px;
                    vertical-align: sub;
                }
            }
        }
        .actions{
            display: block;
            text-align: right;
            color: grey;
        }
    }
}