header{
    margin-bottom: 35px;
    .subtitle{
        color: grey;
    }
}

.loan-time{
    margin-bottom: 35px;
    mat-slider, mat-chip-list{
        display: inline-block;
        margin-right: 10px;
    }
    .week-num{
        margin-right:5px;
    }
}

footer{
    text-align: right;
}

.loading-container{
    width:100%;
    mat-spinner{
        margin:auto;
    }
}