@import '~@angular/material/theming';

@import '../../../assets/sass/spacing.scss';


.paginator{
    margin-bottom: $lg;
    display: flex;
    justify-content: center;
    .mat-paginator{
        background: #eee;
        min-width: 100%;
        z-index: 2;
    &.sticky{
        position: fixed;
        top:70px;
        //width: auto;   
    }
    }
}

.container{
    @media (max-width: 540px) {        
        app-book{
            margin-right: 0;
            margin-bottom:$xs;
        }
    }
}