<div class="paginator m-b-lg">
  <mat-paginator *ngIf="data.totalItems > pageSize" [@move]="scrolling" [ngClass]="scrolling ? 'sticky' : ''" [length]="data.totalItems"
    [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent($event)">
  </mat-paginator>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap *ngIf="data.totalItems">
  <app-volume *ngFor="let volume of data.items; let i = index;" [id]="volume.id" [data]="volume" fxFlex="300px"
    fxFlex.xs="100%" class="m-l-xs m-r-xs m-b-sm" [@appear]="{value: ':enter', params:{delay: 225+(50*(i+1))}}"
    [volumeActions]="volumeActions"></app-volume>
</div>