/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    .m-n{
        margin: 0 !important;
    }

    mat-icon{ margin: auto;}
    
    //fix for centering mat-dialog with custom width
    mat-dialog-container{margin: auto;}
}