<div *ngIf="activeView == 0" class="placeholder">
    <img i18n-alt="Magnifying|alt description for search placeholder image@@search-placeholder-image" alt="a round magnifying glass icon"
        src="assets/img/search.png">
    <label i18n="placeholder title@@search-placeholder-title" class="mat-display-1 title">Find by keyword</label>
    <label i18n="placeholder subtitle@@search-placeholder-subtitle" class="mat-subheading-2 subtitle">Search by name or author, over millions of books</label>
    <md-form-field *ngIf="!loading" role="search" class="search-area">
        <input #search mdInput (keydown.enter)="onEnter(search.value)" placeholder="">
        <md-icon aria-label="search icon" mdSuffix>search</md-icon>        
    </md-form-field>
    <md-spinner *ngIf="loading" color="accent"></md-spinner>
</div>
<div *ngIf="activeView == 1" class="results">
    <div fxLayout="row" fxLayoutGap.xs="0" fxLayoutGap="20px" fxLayoutAlign="center" fxLayoutWrap>
        <md-card *ngFor="let book of books | async" fxFlex="400px" fxFlex.xs="100%">
            <img aria-labelledby="title" src={{book.thumbnail}}>
            <div class="content">
                <div class="info">
                    <md-card-title id="title" class="title">{{book.title}}</md-card-title>
                    <md-card-subtitle i18n-title="Author|label for author@@card-author" title="author" class="author">
                        <md-icon aria-label="author">person</md-icon><span *ngFor="let author of book.authors">{{author}} </span></md-card-subtitle>
                    <md-card-subtitle i18n-title="Editor|label for editor button@@card-editor" title="editor" class="editor">
                        <md-icon aria-label="editor">book</md-icon>{{book.publisher}}</md-card-subtitle>
                </div>
                <div class="actions">
                    <button i18n="Loan|label for loan button@@card-loan-button" md-button>LOAN</button>
                </div>
            </div>
        </md-card>
    </div>
</div>
<div *ngIf="activeView === 1" class="fab-box">
    <button (click)="switchSearch()" md-fab class="fab-search">
        <md-icon class="md-24" aria-label="icon-button with a magnifying lens">search</md-icon>
    </button>
</div>