@import '../../assets/sass/spacing.scss';

.search-history{
    padding: 0 $xs;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    label{
        display: inline-block;
        margin-right: $xs;
    }
    .search-list{
        display: inline-block;
        .search{
            padding: $xs $sm;
        }
    }
}
.row.fab{
    width: 100%;
    text-align: center;
    .fab-search{
        &.sticky{
            position: fixed;
            bottom: 6vh;
            right:10vw;
            .mat-button-wrapper{
                padding: 0 !important;
            }
        }    
    }
}
