@import '~@angular/material/theming';
@import 'src/custom-theme.scss';
@import 'src/app/app.component.scss';
@import 'src/app/app.book.scss';

.placeholder{
    input{
        $config: mat-typography-config();
        font-size: mat-font-size($config, headline);
    }    
}

.content{
    .actions{
        display: block;
        text-align: right;
        color: grey;
    }
}

.fab-box{
    position: sticky;
    bottom: 90px;
    right: 0;
    button{
        float: right
    }
}

md-spinner{
    margin:20px auto;
}