<!-- <div class="placeholder">
  <img i18n-alt="Magnifying|alt description for search placeholder image@@loans-placeholder-image" alt="a round book icon" src="assets/img/search.png">
  <label i18n="placholder title@@loans-placeholder-title" class="mat-display-1 title">No Loans yet</label>
  <label i18n="placeholder subtitle@@loans-placeholder-subtitle" class="mat-subheading-2 subtitle">Loan your first book on the search page</label>
</div> -->
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayoutWrap>
  <mat-card *ngFor="let loan of loans | async" fxFlex="60%" fxFlex.sm="100%" fxLayoutAlign="center center">
    <img aria-labelledby="title" src="{{loan.book.thumbnail}}">
    <div class="content" fxLayout="row" fxLayoutAlign="center stretch">
      <div class="info" fxFlex="65%">
        <mat-card-title id="title" class="title">{{loan.book.title}}</mat-card-title>
        <mat-card-subtitle i18n-title="Author|label for author@@card-author" title="author" class="author">
          <mat-icon aria-label="author">person</mat-icon>{{loan.book.author}}</mat-card-subtitle>
        <mat-card-subtitle i18n-title="Editor|label for editor button@@card-editor" title="editor" class="editor">
          <mat-icon aria-label="editor">book</mat-icon>{{loan.book.publisher}}</mat-card-subtitle>
      </div>
      <div class="loan-data" fxFlex="35%">
        <mat-icon aria-label="calendar">event</mat-icon>
        <!-- assignment-turned-in -->
        <label>{{loan.to | date: 'MMM d'}}</label>
      </div>
    </div>
  </mat-card>
</div>