<div matDialogTitle i18n="search dialog title@@search-dialog-title" class="mat-body-1">Search</div>
<mat-dialog-content>
  <mat-form-field>
    <input name="title" [(ngModel)]="title" class="form-control" minlength="1" matInput i18n-placeholder="book title search placeholder@@search-dialog-title-search" placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <input name="author" matInput i18n-placeholder="book author search placeholder@@search-dialog-author-search" placeholder="Author">
  </mat-form-field><mat-form-field>
    <input name="publisher" matInput i18n-placeholder="book title search placeholder@@search-dialog-publisher-search" placeholder="Publisher">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="title.length > 0" mat-button matDialogClose color="primary" i18n-title="search-dialog-search-button@@search-dialog-search-button" title="editor">{{'search' | uppercase}}</button>
  <button mat-button matDialogClose i18n-title="search-dialog-close-button@@search-dialog-close-button" title="editor">{{'close' | uppercase}}</button>
</mat-dialog-actions>